.section-video {
   .video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
   }
    .video-player {
        width: 80vw;

        @include touch {
            width: 100%;
          }

        .video-js {

            .vjs-big-play-button {
               left: 0;
               right: 0;
               top: 0;
               bottom: 0;
               margin: auto;
            }
        }
    }
}