<div class="wrapper-body-wrap section-wrap">
<div class="line">
  <span class="dot"></span>
</div>
</div>
{% schema %}
    {
        "name": "Maxi: Line with dot",
        "class": "line-and-dot",
        "settings": [],
        "presets": [
            {
                "name": "Maxi: Line with dot",
                "category": "text"
            }
        ]
    }
{% endschema %}
