<div class="wrapper-body-wrap">
  <header class="collection-header collection-header-sections">
    <div class="relative container mb-0">
        <div class="collection-wrapper page-header collection-static mb-35">
            <div class=" container-regular">
              
                <h1 class="text-center">
                    {{ page.title }}
                </h1>
            </div>    
        </div>
    </div>
    <div class="wrapper-body-wrap section-wrap mb-35">
      <div class="line">
        <span class="dot"></span>
      </div>
    </div>
</header>

<div class="page-tpl">
  <div class="container">
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>
</div>

